html, body {
  margin: 0;
  padding: 0;
  font-family: fantasy, cursive, sans-serif;
  background-color: darkslategray;
}

/*Header*/
header {
  background-color: darkslateblue;
  height: 200px;
  display: inline-block;
  width: 100%;
}

header > img {
  position: absolute;
  margin: 20px 50px;
}

header h1 {
  position: relative;
  color: white;
  top: 70px;
  left: 90px;
  width: 500px;
}

#search_bar {
  width: 45%;
}

header ul {
  display: block;
  list-style-type: none;
  position: fixed;
  top: 0px;
  right: 0px;
  text-align: right;
  z-index: 9999;
}

header li {
  display: inline-block;
  margin-right: 10px;
}
header li img, header li a {
  border: 1px solid aliceblue;
}
header li img {
  position: relative;
  top: 18px;
  border-radius: 20px;
  padding: 11px;
  margin-right: 5px;
  background-color: cornflowerblue;
}

header li a {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

header form {
  position: relative;
}

header input {
  display: block;
  position: absolute;
  top: 15px;
  right: 70px;
}

/*Margin 0*/
header ul, #index h1 {
  margin: 0;
}

/****Section Index****/
#index {
  background-color: white;
  margin: 0px 20px;
  display: block;
  padding-bottom: 20px;
  width: 95%;
  margin: auto;
}

#index h2 {
  background-color: cornflowerblue;
  text-align: center;
  margin-top: 0px;
}

#index > h2 {
  padding: 12px;
}

.bigArticle {
  margin: auto;
  width: 100%;
  margin-bottom: 20px;
}

.bigArticle img {
  padding: 5%;
  border: 1px solid aliceblue;
}

.bigArticle div {
  display: inline-block;
  vertical-align: top;
  width: 47%;
}

.seeMore {
  display: block;
  width: 135px;
  margin: auto;
  text-align: center;
  padding: 10px;
  border: 1px solid cornflowerblue;
  border-radius: 20px;
  background: darkslateblue;
  color: white;
  text-decoration: none;

}

.litArticle {
  display: block;
  font-size: 10px;
  width: 100%;
  margin: auto;
}

.litArticleLeft {
  display: inline-block;
  position: relative;
  left: 15px;
  width: 50%;
}

.litArticleRight {
  display: inline-block;
  width: 42%;
  vertical-align: top;
}

.litArticleLeft, .litArticleRight {
  text-align: center;
}

.litArticleLeft ul, .litArticleRight ul{
  text-align: justify;
  padding: 0;
}

.litArticleLeft img, .litArticleRight img {
  padding: 12px;
  display: inline-block;
  margin: auto;

}

.litArticleLeft div, .litArticleRight div {
  display: inline-block;
  width: 40%;

}

/*****Footer******/

footer {
  background-color: darkslateblue;
}

footer h3 {
  margin: 15px;
}

.payment {
  display: inline-block;
  width: 49%;
  margin-left: 5px;
}

.join {
  display: inline-block;
  width: 49%;
  text-align: right;
}

footer > p {
  text-align: center;
}

footer > a {
  display: block;
  text-align: center;
}

.payment img {
  padding-right: 5px;
}
/* ##############|||Tablet support|||############## */
@media (min-width: 768px) and (max-width: 1024px) {

  header input {
    padding: 10px;
  }
}
/* ##############|||Mobile support|||############## */

@media (min-width: 320px) and (max-width: 768px) {

header {
  height: 250px;
}

header input, header > img, .litArticleLeft, .litArticleRight {
  position: initial;
}

header input, header > img, header h1, #search_bar, .bigArticle div {
  margin: auto;
}

header > img, header h1, #search_bar, header li,.payment, .join, .bigArticle div, .litArticleLeft, .litArticleRight{
  display: block;
}

header h1 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  text-align: center;
}

#search_bar {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
}

header ul {
  right: -110px;
  text-align: inherit;
}

/*Index Responsive*/

.bigArticle img, .litArticleRight img, .litArticleLeft img{
  width: 85% !important;
}

.bigArticle div, .litArticleLeft div, .litArticleRight div {
  font-size: 12px;
}

.litArticleLeft, .litArticleRight {
  margin-top: 20px;
}

.payment, .join, .litArticleLeft, .litArticleRight, .bigArticle div, .litArticleLeft div, .litArticleRight div{
  width: 100%;
}

.litArticleLeft ul, .litArticleRight ul {
  padding-left: 10%;
}

.payment, .join {
  text-align: center;
  margin: 0;
}

footer h3 {
  padding: 12px
}

}
