html, body {
  margin: 0;
  padding: 0;
  font-family: fantasy, cursive, sans-serif;
  background-color: darkslategray;
}

/*Header*/
header {
  background-color: black;
  height: 200px;
  position: relative;
  top: -20px;
}

header > img {
  position: absolute;
  margin: 20px 50px;
}

header h1 {
  position: relative;
  color: white;
  top: 70px;
  left: 90px;
  width: 500px;
}

#search_bar {
  width: 50%;
}

header ul {
  display: block;
  list-style-type: none;
  position: fixed;
  top: 0px;
  right: 0px;
  text-align: right;
  z-index: 9999;
}

header li {
  display: inline-block;
  margin-right: 10px;
}
header li img, header li a {
  border: 1px solid aliceblue;
}
header li img {
  position: relative;
  top: 18px;
  border-radius: 20px;
  padding: 11px;
  margin-right: 5px;
  background-color: cornflowerblue;
}

header li a {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

header form {
  position: relative;
}

header input {
  display: block;
  position: absolute;
  top: 15px;
  right: 70px;
}

/*Margin 0*/
header ul, #index h1 {
  margin: 0;
}

/****Section Index****/
#index {
  background-color: white;
  margin: 0px 20px;
  display: inline-block;
}

#index h1 {
  background-color: cornflowerblue;
  padding: 15px;
  text-align: center;
}

.bigArticle {
  width: 1200px;
  margin: auto;
}

.bigArticle img {
  padding: 5%;
  border: 1px solid aliceblue;
}

.bigArticle div {
  display: inline-block;
  position: absolute;
  right: 15px;
  width: 50%;
}

.seeMore {
  display: block;
  text-align: center;
}
